* {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
img {
  width: 360px;
  height: 200px;
}
